## LISTS

### LIst can be thought of as a hetrogenous Array

In [1]:
myList = [1,2,3.5,"Hello"]
print(myList)
print(type(myList))

[1, 2, 3.5, 'Hello']
<class 'list'>

In [2]:
l2=list([1,3,4])
print(l2)

[1, 3, 4]

In [3]:
l3 = list(l2)
print(l3)
print(type(l3))

[1, 3, 4]
<class 'list'>

In [4]:
l3=l3+l2
print(l3)

[1, 3, 4, 1, 3, 4]

In [5]:
l3.extend(l2)
print(l3)

[1, 3, 4, 1, 3, 4, 1, 3, 4]

In [6]:
# list of squares of number from 1 to 5
l4 =[i*i for i in range(1,6)]
print(l4)

[1, 4, 9, 16, 25]

In [7]:
## LIst Slicing 
print(l4[0:4]) # gives ele from index 0 to 4
print(l4[-1])

[1, 4, 9, 16]
25

## Insertion and Deletion in the list
    -append
    -insert
    
    -remove
    -pop
    -del

In [8]:
l=[1,2]
l.append(3)
l.append([1,2]) #[1,2] goes as single element in the list
l+=[4,5,6]      # this extends the list
print(l)

[1, 2, 3, [1, 2], 4, 5, 6]

## append inserts elements at the ending of the list

In [9]:
print(l[3])

[1, 2]

In [10]:
l.remove(2) #deletes 2 from the list
print(l)

[1, 3, [1, 2], 4, 5, 6]

In [11]:
del l[0]  ## removes element at 0th index
print(l)

[3, [1, 2], 4, 5, 6]

## pop deletes elements from the last of the list

In [12]:
l.pop()

6

In [13]:
print(l)

[3, [1, 2], 4, 5]

In [14]:
l = ([1,2,3])
l = l*4 #repeat the list 4 times
print(l)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [15]:
l=["apple","mango","guava",80]
80 in l

True

In [16]:
for i in range(len(l)):
    print(l[i],end=" ")

apple mango guava 80

In [17]:
for x in l:
    print(x)

apple
mango
guava
80

## insert

In [18]:
l=[1,2,5,4,890]
l.insert(2,"hsg")
print(l)

[1, 2, 'hsg', 5, 4, 890]

## More Functions on Lists

In [19]:
l=[4,3,2,1,99]
print(max(l))
print(min(l))

99
1

In [26]:
l=[2,4,1,5,44]
# l.insert(2,"hsg")
print(l)
# print(max(l))
# print(min(l))

[2, 4, 1, 5, 44]

In [27]:
print(l.index(16)) # linear seach

ValueError: 16 is not in list

In [28]:
print(l.index(5))

3

l.index #LInear SEarch

# l.index()
## LINEAR SEARCH ^

# SORTING

In [29]:
sorted(l)

[1, 2, 4, 5, 44]

In [30]:
l = [8,2,7,1,90,43]
sorted(l)

[1, 2, 7, 8, 43, 90]

In [31]:
print(l)

[8, 2, 7, 1, 90, 43]

## Sorted returns a copy of list, but it actually Does NOT modify the orignal list

In [32]:
l=sorted(l)
print(l)

[1, 2, 7, 8, 43, 90]

# Sort Function

In [33]:
l = [4,5,1,3,2]
l.sort()
print(l)

[1, 2, 3, 4, 5]

In [34]:
l.sort(reverse = True)
print(l)

[5, 4, 3, 2, 1]

In [35]:
### If you want to read a list of numbers from the user
numbers = [int(nmbr) for nmbr in input().split()]
print(type(numbers))
print(numbers)

10
<class 'list'>
[10]

# Dictionary
## like a Hash map
###collection of key_value pairs
    if a key is given, you can tell its value
    ###order is random

In [36]:
d={}
print(type(d))

<class 'dict'>

In [37]:
d={"mango":100,"apple":150}
print(d)

{'mango': 100, 'apple': 150}

In [38]:
print(d["mango"]) #lookup

100

In [39]:
d["guava"]=60
print(d)

{'mango': 100, 'apple': 150, 'guava': 60}

In [40]:
d["grape"]=[10,20] #diff price for diff variety
print(d)

{'mango': 100, 'apple': 150, 'guava': 60, 'grape': [10, 20]}

In [41]:
d["pineapple"] ={"small":90,"large":150}
print(d)

{'mango': 100, 'apple': 150, 'guava': 60, 'grape': [10, 20], 'pineapple': {'small': 90, 'large': 150}}

In [42]:
print(d["pineapple"])

{'small': 90, 'large': 150}

In [43]:
print(d["pineapple"]["small"])

90

In [44]:
print(d.keys())

dict_keys(['mango', 'apple', 'guava', 'grape', 'pineapple'])

# d.keys()

In [59]:
print(d.values())

dict_values([100, 150, 60, [10, 20], {'small': 90, 'large': 150}])

# Some Common Dictionary Methods and Operators
    -get()
    -items()
    -keys()
    -values()
    -clean()
    -in, not in
    -len()
    -del
    -update

### get : get a value for a given key

In [61]:
print(d["mango"])

100

In [62]:
print(d["blueberry"])

KeyError: 'blueberry'

In [66]:
print(type(d.get("blueberry")))

<class 'NoneType'>

In [68]:
if "mangoes" in d: 
    print("Price of mango is %d"%(d["mango"]))
else:
    print("key does NOT exist")

key does NOT exist

In [69]:
if "mangoes" not in d:
    print("Does Not Exist")
else:
    print("Error")

Does Not Exist

In [70]:
print(d.items())

dict_items([('mango', 100), ('apple', 150), ('guava', 60), ('grape', [10, 20]), ('pineapple', {'small': 90, 'large': 150})])

### list of tuples^

In [71]:
l = list(d.items())
print(l)

[('mango', 100), ('apple', 150), ('guava', 60), ('grape', [10, 20]), ('pineapple', {'small': 90, 'large': 150})]

In [72]:
del(d["pineapple"])
print(d)

{'mango': 100, 'apple': 150, 'guava': 60, 'grape': [10, 20]}

In [73]:
d2 = {"strawberry":99, "watermellon":70}
d.update(d2)
print(d)

{'mango': 100, 'apple': 150, 'guava': 60, 'grape': [10, 20], 'strawberry': 99, 'watermellon': 70}

### update() merges 2 dictioanry

In [74]:
print(len(d))

6

In [75]:
d.clear()
print(len(d))

0

## Dictionary to List

using items ^

## List to Dictionary

In [80]:
l1 = ["apple","papaya","guava","banana"]
l2 = [100,120,30,50]
p=dict(zip(l1,l2))
print(p)

{'apple': 100, 'papaya': 120, 'guava': 30, 'banana': 50}

In [81]:
print(type(p))

<class 'dict'>

In [82]:
for key in p:
    print(key)

apple
papaya
guava
banana

In [83]:
p.keys()

dict_keys(['apple', 'papaya', 'guava', 'banana'])

In [84]:
p.values()

dict_values([100, 120, 30, 50])

## TUPLES

#### Hold together multiple objects
#### immutable
#### comma seperated entries withiin ()
#### eg: (1,"hello",2.7)

### tuple ensures your data is constant
### tuples are faster than lists
### eg: if you want to return multiple values from a function

In [86]:
t=(1,2,3,"hello")
print(t)

(1, 2, 3, 'hello')

In [87]:
print(t[0])

1

In [88]:
t[0]=5 #gives error

TypeError: 'tuple' object does not support item assignment

In [89]:
#convert a tuple in a list
l=list(t)
print(l)
l[0]=5
print(l)

[1, 2, 3, 'hello']
[5, 2, 3, 'hello']

In [90]:
t2=tuple(l)
print(t2)

(5, 2, 3, 'hello')

In [91]:
print(t2+t)

(5, 2, 3, 'hello', 1, 2, 3, 'hello')

In [92]:
t2=t2*3
print(t2)

(5, 2, 3, 'hello', 5, 2, 3, 'hello', 5, 2, 3, 'hello')

In [93]:
print(len(t))

4

In [94]:
print(max(t))

TypeError: '>' not supported between instances of 'str' and 'int'

In [95]:
t3=(1,22,343,544)
print(max(t3))

544

In [96]:
del t
print(t)

NameError: name 't' is not defined

# SET DATA STRUCTURE

    - Stores unique elements
    -order is not managed

In [97]:
s=set([1,4,22,354,9,87,90])
print(s)

{1, 354, 4, 9, 22, 87, 90}

In [98]:
s2 ={5,6,11,1,1,1,1,1} #1 will be stored only once
print(s2)

{1, 11, 5, 6}

In [99]:
s2.add(50)
print(s2)

{1, 5, 6, 11, 50}

In [102]:
s.union(s2)

{1, 4, 5, 6, 9, 11, 22, 50, 87, 90, 354}

In [103]:
s | s2

{1, 4, 5, 6, 9, 11, 22, 50, 87, 90, 354}

In [104]:
s & s2 #intersection

{1}

In [106]:
s.intersection(s2)

{1}

In [107]:
s-s2

{4, 9, 22, 87, 90, 354}

In [108]:
s.difference(s2)

{4, 9, 22, 87, 90, 354}

In [109]:
s.clear()

In [113]:
if 1 in s2:
    print("present")
else:
    print("Not Present")

present

In [114]:
a1 = {1,2,3,4}
a2 = {2,3,4,5,6}
print(a1^a2)

{1, 5, 6}

#### Xor gives those elements which are present in only one of the sets

# Functions

In [116]:
def func1():
    print("hi! I am HSG")

In [117]:
func1()

hi! I am HSG

In [118]:
def function(name):     #no data type required
    print("Name is %s"%(name))

In [120]:
function("Harsh")

Name is Harsh

In [121]:
def func2(name,marks,subject):
    print("%s scored %d marks in %s"%(name,marks,subject))

In [123]:
func2("HSG",100,"Python")

HSG scored 100 marks in Python

In [124]:
def func3(name, marks=70):
    print("%s : %d"%(name,marks))

In [126]:
func3("harsh")

harsh : 70

In [127]:
func3("harsh",99)

harsh : 99

In [128]:
def fun(a,b):
    print(a+b)

In [130]:
fun(5,4)

9

In [131]:
ans = fun(1,7)
print(ans)

8
None

In [132]:
def newfun(a,b):
    return a+b

In [133]:
newfun(2,3)

5

In [134]:
ans=newfun(2,3)
print(ans)

5

In [141]:
def div(a,b):
    try:
        return a/b
    except:
        print('Error')
    finally:
        print("Finally Block Executed")
        return -1

In [142]:
div(10,2)

Finally Block Executed

-1

### in functions even if we encounter return and there is a FINALLY BLOCK, then it will execute

#### if there is a return statement in finally block and in above try block as well
#### then finally block's return statement will execute